.subheader{
	position: relative;
	max-height: 440px;
	min-height:150px;
	@include desktop-mini{
		min-height: 350px;
	}
	img{
		@include desktop-mini{
			min-height: 350px;
		}
	}
	&.investment-back{
		@include w480(){
			margin-bottom: 20px;
		}
	}
	@include w480(){
		margin-bottom: 30px;
		min-height:320px;
	}
	&.is-mini{
		@include w480(){
			min-height:90px;
			margin-bottom: 15px;
		}
		@include desktop-mini{
			min-height: 190px;
		}
		img{
			@include w480(){
				min-height: 190px;
			}
			@include desktop-mini{
				min-height: 250px;
			}
		}
	}

	img{
		display: block;
		@include w480(){
			min-height: 320px;
		}

	}
	&.is-gray{
		@include w480(){
			min-height: 80px;
			margin-bottom: 0 !important;
		}
		@include desktop-mini{
			min-height: 115px;
		}
		.breadcrumbs{
			margin-top: 30px;
			color:#908D88;
			@include desktop-mini{
				margin-top: 15px;
			}
		}
		a{
			color: $color-greendark;
		}

		.main-caption{
			color: $color-green;
		}
	}
	&.is-gray.is-menu{
		min-height:225px;
		@include w480(){
			min-height: 80px;
		}
		@include desktop-mini{
			min-height: 180px;
		}
	}
	.content-center{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

	}
	&__img{
		width: 100%;
		max-height: 440px;
		min-height: 150px;
	}

	.breadcrumbs{
		margin-top: 40px;


	}

	.main-caption{
		color: #fff;
	}
	&__text{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top:0;
		text-align: center;
		width: 95%;
		@include w480(){
			transform: translate(-50%, -50%);
			top: 50%;
			width: 80%;
		}
		@include desktop-mini{
			width:80%;
		}
	}
}
.subheader.is-mini .breadcrumbs{
	@include desktop-mini{
		margin-top: 20px;
	}
}
